
  


  

  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 440px;
 
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .signu{
    display: flex;
    justify-content: start;
    margin-left: 30px;
    align-items: flex-end;
  }
  .buttons{
      display: flex;
     justify-content: space-around ;
    
  }
  button{
    background-color: #4beaff;
  }