body{
  background: lightblue url("https://kobciyesms.com/static/dist/img/login.jpeg") no-repeat fixed center; 
}
.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  


  

  
  .titlee {
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 440px;
 
  }
  


  .buttons{
      display: flex;
     justify-content: space-around ;
    
  }
  button{
    background-color: #4beaff;
  }