.navbarApp {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

}


nav {
    display: flex;
    flex:1;
    justify-content: space-between;

}

ul {
    display: flex;
    flex:1;
    justify-content: space-around;
}

.nameLink:hover {
    color: white;
}


