

@import url('https://fonts.googleapis.com/css?family=Roboto');



.card{
  width: 130px;
  height: 420px;
  background-color: #087dbc;
  border-radius: 10px 10px;
  margin-top:11px;
  margin-left: 11px;
}

.header{
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #2A3942;
}

h3{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
}

.iconM{
  font-size: 18px;
  margin-left: 170px;
  color: #2f89fc;
}

.icon{
  margin-right: 8px;
}



li:hover{
  transition: 1s all;
  color: #2f89fc;
  background-color: rgba(65, 125, 180, 0.82);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}



.body li ul{
  background: #1E2B32;
  margin-left: 90px;
  margin-top: -38px;
  display: none;
  position: absolute;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul{
  display: block;
  cursor: pointer;
}